body{
    background-color: rgb(196, 179, 211);
}

button {
    padding: 15px;
    background-color: rgb(128, 116, 148);
    border-radius: 10px;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}