body{
    background-color: rgb(231, 229, 198);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: large;
}

button {
    padding: 15px;
    background-color: rgb(128, 116, 148);
    border-radius: 10px;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;      
}